/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Lobster&family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans&display=swap");

/*  common or utilities styles */
main {
  display: flex;
  justify-content: center;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
}
/* top player styles */
.section-title {
  font-size: 24px;
  color: #562eff;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr; */
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
}
