/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Lobster&family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans&display=swap");

/*  common or utilities styles */
main {
  display: flex;
  justify-content: center;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
}
hr {
  border: 1px solid #d1d1d1;
}
/* top player styles */
.top-players {
  margin-bottom: 30px;
}
.section-title {
  font-size: 24px;
  color: #562eff;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr; */
  row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
  color: #000000;
}

/* ----------------------
    top blogs styles
------------------------- */
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-style: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  font-style: 16px;
  color: #562eff;
}
